body{
  background: #dec8b3;
  font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #b2b1a3;
}
h2{
  font-family: "Sarabun", sans-serif;
    font-weight: 800;
    font-size: 12px;
    color: #b2b1a3;
}
.dark{
  color: #18100e;
}
.title-container{
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #2d9ab3;
    padding: 0px 0px 4px;
}
h3{
  font-family: "Chelsea Market", sans-serif;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -0.04em;
    text-align: center;
    color: #c44e0f;
    margin-top: 40px;
}
.btn {
  border: 1px solid #20859d;
  border-radius: 12px;
  width: 240px;
  height: 48px;
  box-shadow: 1px 2px 2px 0 rgba(32, 133, 157, 0.4);
  background: linear-gradient(180deg, #2d9ab3 0%, #0c7189 100%);
display: flex;
align-items: center;
justify-content: center;
  font-family: "Sarabun", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.3;
  color: #dec8b3;
  text-shadow: 0 1px 1px 0 rgba(24, 16, 14, 0.5);
  transition: background 0.3s ease;
}

.btn:hover {
  background: linear-gradient(180deg, #167b93 0%, #0a5f73 100%);
}
@media only screen and (min-width: 1440px) {
  h3{
    font-size: 40px;
    margin-top: 48px;
  }
}