.header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 100%;
  height: 48px;
background: #18100e;
}

.header-container {
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
}


.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 121px;
  width: 28px;
  height: 28px;
  margin-left: auto;
  background-color: inherit;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
background: #18100e;
border-radius: 0 0 24px 24px;
  padding: 40px 47px;
  width: 100%;
  height: auto;
  z-index: 1000;
  position: fixed;
  top: 47px;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}


.menu-item {
padding: 8px 0px;
  width: 170px;
  height: 34px;
font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #b2b1a3;
  transition: all 0.2s ease;
}

.menu-item:hover,
.menu-item:focus,
.menu-item.active {
border-bottom: 1px solid #2d9ab3;
}

.header-policy-list {
  margin-top: 40px;
  display: flex;
  gap: 16px;
  justify-content: center;
font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #b2b1a3;
}

@media screen and (min-width: 1440px) {
  .header-container {
    padding: 8px 80px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .navigation-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
height: 32px;
font-family: "Sarabun", sans-serif;
  font-weight: 275;
  font-size: 12px;
  color: #b2b1a3;
  opacity: 0.6;
    transition: all 0.3s ease-in-out;
  }

  .navigation-item:hover {
    opacity: 1;
  font-weight: 400;
  }

  .navigation-item:focus,
  .navigation-item.active {
border-bottom: 1px solid #2d9ab3;
    opacity: 1;
  font-weight: 400;
  }

}