.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}
.home-wrapper{
    margin-top: 140px;
    width: 323px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 0;
}
.home-wrapper::before {
    content: "";
    position: absolute;
    left: 17px;
    top: 50px;
    width: 323px;
    height: 241px;
    background: rgba(24, 16, 14, 0.6);
    filter: blur(15px);
    transform: scale(1.15);
    z-index: -1;
}
.home-title {
    margin-top: 120px;
    font-family: "Chelsea Market", sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.38;
    letter-spacing: -0.06em;
    text-align: center;
    color: #2d9ab3;

    text-shadow:
        0 4px 4px #993d0b,
        2px -2px 6px #1a3941;
}
.home-text-one{ 
font-weight: 800;
 font-size: 24px;

}
.home-text-two{
    margin-top: 32px;
    font-weight: 600;
}
.home-btn{
    margin: 48px auto 0;
}
@media only screen and (min-width: 1440px) {
  .home-section{
    background-image: url("/img/home/desk.png");
    height: 830px;
  }
  .home-container{
    padding-left: 120px;
  }
  .home-title{
    margin-top: 140px;
    text-align: left;
    font-size: 80px;
        letter-spacing: -0.06em;
  }
  .home-wrapper{
    margin-top: 48px;
    margin-left: 0;
    margin-right: auto;
    width: 634px;
        height: 243px;
  }
  .home-wrapper::before {
      content: "";
      position: absolute;
      left: 17px;
      top: 50px;
width: 634px;
    height: 243px;
filter: blur(100px);
    background: rgba(255, 234, 128, 0.4);
      transform: scale(1.15);
      z-index: -1;
  }
  .home-text-one{
    color: #18100e;
    text-align: left;
  }
  .mob{
    display: none;
  }
  .home-text-two{
    color: #18100e;
    text-align: left;
    width: 581px;
  }
  .home-btn {
  margin-top: 32px;
  margin-left: 0;
  margin-right: auto;
  }
}
/* DISCLAIMER */
.disclaimer-section{
    background: #18100e;
}
.disclaimer-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.disclaimrer-title{
    font-family: "Chelsea Market", sans-serif;
        font-weight: 400;
        font-size: 24px;
        color: #2d9ab3;
text-shadow:
        1px 1px 1px rgba(148, 147, 135, 0.6),
        -1px -1px 1px rgba(0, 0, 0, 0.3);
}
.disclaimer-text{
    font-weight: 300;
        font-size: 14px;
}
@media only screen and (min-width: 1440px) {
  .disclaimer-wrapper{
    flex-direction: row;
    gap: 48px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .disclaimer-text{
    text-align: left;
  }
}
/* Demo */

.demo-container {
    position: relative;

}

.demo-text{
    margin-top: 24px;
        font-weight: 800;
        font-size: 20px;
        color: #18100e;
}
.demo-wrapper {
    position: relative;
    max-width: 1200px;
    margin: 20px auto 0;
    height: 622px;
}

.game-img {
width: 323px;
    height: 622px;
}

/* ===== КНОПКА ===== */

.demo-btn {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    display: inline-block;
    padding: 13px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.demo-img {
    display: block;
    width: 100%;
    height: auto;
}

/* ===== ФОН ===== */

.game-img {
    width: 100%;
    display: block;
}

/* ===== IFRAME ===== */

.iframe-wrapper {
    position: absolute;
    top: 3%;
    left: 40%;
    transform: translateX(-48%);
    width: 68%;
    height: 54%;
    z-index: 20;

    /* 🔥 ГОЛОВНЕ ВИПРАВЛЕННЯ */
    pointer-events: none;
}

#gameIframe {
    width: 125%;
    height: 174%;
    border: none;
    display: none;
    background: #000;
    border-radius: 30px;
}

/* АКТИВНИЙ СТАН */
.iframe-wrapper.active {
    pointer-events: auto;
}

#gameIframe.active {
    display: block;
}

/* ===== КНОПКА ЗАКРИТТЯ ===== */

#closeIframeBtn {
    position: absolute;
    top: 20px;
    right: -50px;

    background: none;
    border: none;
    cursor: pointer;

    display: none;

    z-index: 9999;
    /* 🔥 НАД iframe */
    pointer-events: auto;
}

#closeIframeBtn.active {
    display: block;
}

.close-img {
    width: 24px;
    height: 24px;

}
@media only screen and (min-width: 1440px) {
    .demo-text{
        font-size: 24px;
    }
        .demo-wrapper {
            margin: 24px auto 0;
                height: 682px;
        }
    
        .game-img {
width: 942px;
    height: 682px;
    margin-left: auto;
    margin-right: auto;
        }
                .iframe-wrapper {
                    position: absolute;
                    top: 4%;
                    left: 46%;
                    transform: translateX(-48%);
                    width: 68%;
                    height: 54%;
                    z-index: 20;
        
                    /* 🔥 ГОЛОВНЕ ВИПРАВЛЕННЯ */
                    pointer-events: none;
                }
        
                #gameIframe {
                    width: 108%;
                    height: 170%;
                    border: none;
                    display: none;
                    background: #000;
                    border-radius: 30px;
                }
}
/* The Desert Site */
.desert-section{
    background-color: #18100e;
    background-image: url("/img/desert/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 252px;
    height: 756px;
}
.desert-text-one{
    margin-top: 32px;
    margin-bottom: 24px;
    font-weight: 800;
        font-size: 20px;
        width: 293px;
        margin-left: auto;
        margin-right: auto;
}
.desert-text-two{
        margin-left: auto;
            margin-right: auto;
            width: 323px;
}
@media only screen and (min-width: 1440px) {
.desert-section{
    background-image: url("/img/desert/desk.png");
    background-size: 100% 672px;
    height: 1021px;
}
.desert-text-one{
    width: 100%;
    font-size: 24px;
}
.desert-text-two{
width: 100%;
}
}
/* Ancient Mechanisms */
.ancient-section{
    background-image: url("/img/ancient/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 299px;
    height: 784px;
}
.ancient-text-one{
    margin-top: 32px;
    margin-bottom: 24px;
    font-weight: 800;
        font-size: 20px;
        color: #18100e;
}
.ancient-text-two{
    color: #18100e;
    width: 313px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 1440px) {
 .ancient-section{
    height: 938px;
    background-image: url("/img/ancient/desk.png");
    background-size: 942px 533px;
    background-position: bottom 56px center;
 }
 .ancient-text-one{
    font-size: 24px;
 }
 .ancient-text-two{
    width: 100%;
 }
}
/* Symbol Archive */
.symbol-section{
    background: #18100e;
}
.symbol-wrapper{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    width: 303px;
    margin-left: auto;
    margin-right: auto;
}
.symbol-list{
    display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
}
.symbol-text{
    font-weight: 800;
        font-size: 20px;
}
.symbol-item{
        display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: center;
    border: 1px solid #2d9ab3;
        border-radius: 16px;
        padding: 16px;
        width: 240px;
        height: 301px;
}
.symbol-title-item{
    font-weight: 700;
}
.symbol-text-item{
    font-size: 12px;
}
@media only screen and (min-width: 1440px) {
  .symbol-wrapper{
    width: 860px;
  }
  .symbol-text{
    font-size: 24px;
  }
  .symbol-list{
    flex-direction: row;
    justify-content: center;
    gap: 48px;
  }
}
/* Tests of The Sun */
.test-section{
    background-image: url("/img/test/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 296px;
    height: 815px;
}
.test-text-one{
    margin-top: 32px;
    margin-bottom: 24px;
    font-weight: 800;
        font-size: 20px;
    color: #18100e;
}
.test-text-two{
    width: 303px;
    margin-left: auto;
    margin-right: auto;
    color: #18100e;
}
@media only screen and (min-width: 1440px) {
  .test-section{
    background-image: url("/img/test/desk.png");
    height: 1003px;
    background-size: 100% 804px;
  }
  .test-text-one{
    font-size: 24px;
  }
  .test-text-two{
    width: 894px;
  }
}
/* Decision Chamber */
.decision-section{
    background-color: #18100e;
        background-image: url("/img/decision/mob.png");
            background-repeat: no-repeat;
            background-position: bottom center;
            background-size: 100% 295px;
    height: 780px;
}
.decision-text-wrapper{
    width: 283px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.decision-text-one{
    font-weight: 300;
}
.decision-text-two{
    font-weight: 800;
        font-size: 20px;
}
@media only screen and (min-width: 1440px) {
.decision-section{
        height: 954px;
            background-image: url("/img/decision/desk.png");
            background-size: 942px 530px;
            background-position: bottom 56px center;    
}
.decision-text-wrapper{
    width: 860px;
}
.decision-text-two{
    font-size: 24px;
}
}
/* Why It’s Different */
.why-text{
    font-weight: 800;
        font-size: 20px;
    color: #18100e;
    margin-top: 32px;
    margin-bottom: 24px;
}
.why-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.why-item{
    border: 1px solid #18100e;
    display: flex;
    align-items: center;
    gap: 20px;
        border-radius: 16px;
        padding: 8px 24px;
        width: 343px;
        height: 96px;
    background: #18100e;
}
.why-img{
    width: 80px;
        height: 80px;
}
.why-text-item{
    text-align: left;
    width: 192px;
}
@media only screen and (min-width: 1440px) {
  .why-text{
    font-size: 24px;
  }
  .why-list{
    flex-direction: row;
    gap: 46px;
  }
  .why-item{
    width: 200px;
        height: 232px;
        flex-direction: column;
        gap: 16px;
  }
  .why-img{
    width: 120px;
        height: 120px;
  }
  .why-text-item{
    width: 168px;
    text-align: center;
  }
}