@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./footer.css');
@import url('./cookie-popup.css');


.background {
    text-align: left;
    color: #18100e;
}

.privacy-title {
font-family: "Chelsea Market", sans-serif;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: -0.04em;
    color: #18100e;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;

}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-subtitle {
font-family: "Sarabun", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #18100e;
    margin-bottom: 20px;
    text-align: left;
}

.policy-link {
    display: flex;
    align-items: center;
    gap: 12px;
}

.policy-list {
    list-style-type: disc;
    padding-left: 30px;
}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.text {
    margin-top: 20px;
}

.mail-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.policy-span {
    font-weight: 700;
}

@media only screen and (min-width: 1439px) {
    .privacy-title {
font-size: 40px;
    }
.policy-container{
    padding-left: 150px;
    padding-right: 150px;
}

}